.starRating {
  display: flex;
  gap: 2px;
}

.starRatingItem {
  font-size: 24px;
  cursor: pointer;
  color: #e2be8a;
}

.starRatingItemFilled {
  color: #e37009;
}

.starRatingItemHalf {
  color: #ff9800;
}
